# OS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDEs/editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-*

# PHP/Composer
vendor/
composer.phar
.phpunit.result.cache

# App runtime
config/config.php
storage/logs/
storage/uploads/

# Env files
.env
.env.*

# Logs
*.log
